# Copier answers file
# This file stores your configuration choices for future updates
_src_path: {{ _copier_conf.src_path }}
_commit: {{ _copier_conf.vcs_ref_hash }}
app_name: {{ app_name }}
go_version: {{ go_version }}
service_port: {{ service_port }}
health_check_path: {{ health_check_path }}
aliyun_registry: {{ aliyun_registry }}
aliyun_namespace: {{ aliyun_namespace }}
aliyun_region: {{ aliyun_region }}
sae_replicas: {{ sae_replicas }}
sae_cpu: {{ sae_cpu }}
sae_memory: {{ sae_memory }}
enable_terraform: {{ enable_terraform }}
enable_makefile: {{ enable_makefile }}
enable_tests: {{ enable_tests }}
enable_private_repos: {{ enable_private_repos }}
use_database: {{ use_database }}
use_redis: {{ use_redis }}

