# This file is a symlink/copy from .deploy/.github/workflows/build-and-deploy.yml
# To regenerate, run: .deploy/scripts/enable-github-actions.sh

{% include '.deploy/.github/workflows/build-and-deploy.yml.jinja' %}

